body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #444444;
    padding: 20px;
    border-radius: 16px;
    color:#f0f0f0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 4px;
}

button {
    padding: 8px;
    border-spacing: 3px;
    background-color: rgb(25, 7, 140);
    color: #000;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
btn-search {
    padding: 16px;
    background-color: rgb(25, 7, 140);
    color: #000;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0091ff;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #000;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #f0f0f0;
    color: #0091ff;
}
